@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";


*{
    font-family: "Outfit", sans-serif;
}

@theme {
    --color-primary : #4fbf8b;
    --color-primary-dull:#44ae7c;
    
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 50%;
}

.swiper-pagination-bullet {
  background: #fff !important;
}

.swiper-pagination-bullet-active {
  background: #000 !important;
}